<div class="container">
    <div class="row">
        <div class="col" style="margin: auto;">
            <form [formGroup]="toDoForm">
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="toDo" placeholder="What needs to be done?" autofocus (change)="addItem()">
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col" style="margin: auto;">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of toDoItems">
                    <input class="form-check-input" type="checkbox" [value]="item.status" (change)="onCheckChange(item)">
                    <label class="form-check-label" for="defaultCheck1">
                        {{item.title}}
                    </label>
                    <a (click)="deleteItem(item)" style="float: right; color: #FF0000;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                          </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col" style="margin: auto;">
            <ul class="list-group">
                <li class="list-group-item" style="background: #16263F; color: white;">
                    {{count}} Left
                </li>
            </ul>
        </div>
    </div>
</div>